<h1>FastaData#merge</h1>
<%= form_tag fasta_data_upload_path, :method => :post, :multipart => true do %>
  <%= file_field_tag 'uploads[]', :multiple => true %>
  <div class="actions">
    <%= submit_tag 'アップロード' %>
  </div>
<% end %>
